html 
    head   
        title= title
    body
       
        h1=message 
        block content 
            ul  
                li 
                    a(href="/login") Click here to login
                li
                    a(href="/users") Click here to register