extends index

   
block content
    h2 Please provide an email and a password 
    form(action="/register" method="POST")
    label Email  
        input(type="text" name="username" placeholder="example@email.com")
        br 
    label Password  
        input(type="password" name="password" placeholder="password")
    br
    input(value='Submit', type='submit')